@tailwind base;
@tailwind components;
@tailwind utilities;



:root {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
@layer components{
  .input-container{
    @apply w-full sm:w-1/2 md:w-1/3 lg:w-1/3 gap-2 flex items-center justify-between;
  }
  .input-style{
    @apply bg-white h-8 w-4/6 text-base px-4 py-1 text-gray-700 rounded-sm;
  }
  /* .radio-style{
    @apply h-auto w-1/3 grid place-items-center 
  } */
  .btn{
    @apply h-max w-max px-4 py-2 rounded-md text-base font-semibold;
  }
}